<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shagbag913.cornerunrounder">

    <overlay android:priority="99"
        android:isStatic="true"
        android:targetPackage="android"/>

    <application android:hasCode="false"
        android:label="Corner Unrounder"/>

</manifest>
